h1{
    color: papayawhip;
    background-color: pink;
    text-align: center;
}

p {
    color: greenyellow;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
}

span {
    color: red;
    font-weight: bold;
}

strong{
    color: red;

}

h2{
    color: palevioletred;
}
